<h1>Create an account</h1>
<div class="user_form">
<%= form_for :user, url: '/users', class: "user_form" do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>


<% end %>
</div>